#fileInput {
  flex-grow: 1; /* Ensures the input takes up available space */
}

#sampleButton {
  white-space: nowrap; /* Prevents text wrapping */
}

#results {
  max-height: 800px;
  overflow-y: auto;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
}

[theme='custom-light'] {
  #header {
    background-color: royalblue;
    color: #fff;
  }
  .text-muted-custom {
    color: grey;
  }
  .hover-container {
    display: inline-block;
    padding: 0px;
    background-color: #fff;
    color: black;
    --hover-background-color: Gainsboro;
    --selected-color: green;
  }
  .bg-info {
    background-color: #b4bdca !important;
  }
}
[theme='custom-dark'] {
  background: #1f2937;
  color: #fff;

  #header {
    background-color: #00b894;
    color: #fff;
  }

  .text-muted-custom {
    color: silver;
  }

  .hover-container {
    display: inline-block;
    padding: 0px;
    background-color: #1f2937;
    color: white;
    --hover-background-color: #2e405a;
    --selected-color: #11e2b8;
  }

  .bg-info {
    background-color: #9ab4d8 !important;
  }
}
