#fileInput {
  flex-grow: 1; /* Ensures the input takes up available space */
}

#sampleButton {
  white-space: nowrap; /* Prevents text wrapping */
}

#results {
  max-height: 800px;
  overflow-y: auto;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
}

[theme='custom-light'] {
  #header {
    background-color: royalblue;
    color: #fff;
  }
  .text-muted-custom {
    color: grey;
  }
}
[theme='custom-dark'] {
  background: #16171d;
  color: #fff;

  #header {
    background-color: crimson;
  }

  .text-muted-custom {
    color: silver;
  }
}
